body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1,h2 {
    text-align: center;
    color: blue;
}

form {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
}

form div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input [type="text"], input [type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: chartreuse;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: darkcyan;
}

ul{
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button{
    margin-left: 10px;
}